.rating_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.disable path {
  fill: #e3e3e3;
}

.active path {
  fill: #ff6060;
}

@media screen and (max-width: 426px) {
  .rating_wrapper {
    gap: 5px;
  }

  .rating_wrapper svg {
    width: 15px;
  }
}
