.housing_infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.housing_description {
  display: flex;
  gap: 76px;
  margin-top: 2rem;
  height: 100%;
}

.housing_description div {
  width: 100%;
  margin: unset;
}

.housing_infos div:last-child div:last-child {
  margin-top: 0.8rem;
}

.tags {
  display: flex;
  gap: 10px;
  margin-top: 1.8rem;
  flex-flow: wrap;
}

h1,
p {
  color: #ff6060;
  margin: 0;
}

@media screen and (max-width: 769px) {
  .housing_infos {
    flex-direction: column;
  }

  .housing_infos > div:last-child {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
  }

  .housing_infos > div:first-child {
    width: 100%;
  }

  .housing_description {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 426px) {
  h1 {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  p {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }

  .housing_infos {
    margin-top: 0.8rem;
  }

  .tags {
    margin-top: 1rem;
  }

  .housing_infos > div:last-child {
    margin-top: 0.5rem;
  }

  .housing_description {
    margin-top: 0.9rem;
  }
}
