.main_content_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_content {
  margin: 20px 100px;
}

@media screen and (max-width: 769px) {
  .main_content {
    margin: 20px;
  }
}
