.navigation_wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navigation_wrapper li {
  list-style: none;
  font-size: 1.2rem;
}

.navigation_wrapper li a {
  text-decoration: none;
  color: #ff6060;
  font-size: 1.5rem;
}

@media screen and (max-width: 426px) {
  .navigation_wrapper {
    gap: 10px;
  }

  .navigation_wrapper li a {
    font-size: 0.8rem;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
