.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 426px) {
  .header {
    margin-bottom: 1rem;
  }

  .header svg {
    width: 150px;
  }
}
