.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem 0 1rem;
}

.footer svg {
  width: 100px;
  height: auto;
  margin: 1rem 0;
}

.footer svg path {
  fill: white;
}

.footer p {
  color: white;
  font-size: 24px;
}
