.banner {
  position: relative;
  display: flex;
  height: 223px;
  width: 100%;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.banner::after {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0.3;
  mix-blend-mode: darken;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.banner h1 {
  position: relative;
  z-index: 10;
  color: white;
  font-size: 3rem;
}

@media screen and (max-width: 426px) {
  .banner {
    height: 111px;
    border-radius: 10px;
    margin-bottom: 1.2rem;
  }

  .banner::after {
    border-radius: 10px;
  }

  .banner h1 {
    font-size: 1.5rem;
    padding-left: 1rem;
  }
}
